In [1]:
from validate_email import validate_email
import pandas as pd
df = pd.read_csv(r"C:\Users\Adhaar Sharma\Jupyter Notebooks\FilteredEmails.csv")
# creating a list of dataframe columns

for i in range(len(df)) :
    email = str(df.iloc[i, 4])
    print(email)
    is_valid = validate_email(email, check_mx=True, verify=True)
    print(is_valid)

kunal@gmail.com
None
ankuryadav328@gmail.com
True
anuragsingh@gmail.com
True
reena8374@gmail.com
True
abhishekb@gmail.com
True
bhavesh1748@gmail.com
True

In [2]:
df['isValid'] = df['Email'].apply(lambda x:validate_email(x, check_mx=True, verify=True))

In [3]:
df

,Unnamed: 0,ID Number,Name,Contact No.,Email,isValid
0,1,2,Kunal Garg,7285828294,kunal@gmail.com,None
1,2,3,Ankur Yadav,9842134586,ankuryadav328@gmail.com,True
2,4,5,Anurag Singh,9573856384,anuragsingh@gmail.com,True
3,6,7,Reena Sharma,9287598029,reena8374@gmail.com,True
4,7,8,Abhishek Batra,8238548819,abhishekb@gmail.com,True
5,9,10,Bhavesh Prasad,8127498777,bhavesh1748@gmail.com,True

In [4]:
df = df.loc[df['isValid']==True]

In [5]:
df

,Unnamed: 0,ID Number,Name,Contact No.,Email,isValid
1,2,3,Ankur Yadav,9842134586,ankuryadav328@gmail.com,True
2,4,5,Anurag Singh,9573856384,anuragsingh@gmail.com,True
3,6,7,Reena Sharma,9287598029,reena8374@gmail.com,True
4,7,8,Abhishek Batra,8238548819,abhishekb@gmail.com,True
5,9,10,Bhavesh Prasad,8127498777,bhavesh1748@gmail.com,True

In [6]:
df.to_csv('Result.csv')

In [7]:
df1 = pd.read_csv(r"C:\Users\Adhaar Sharma\Jupyter Notebooks\Result.csv")

In [8]:
df1

,Unnamed: 0,Unnamed: 0.1,ID Number,Name,Contact No.,Email,isValid
0,1,2,3,Ankur Yadav,9842134586,ankuryadav328@gmail.com,True
1,2,4,5,Anurag Singh,9573856384,anuragsingh@gmail.com,True
2,3,6,7,Reena Sharma,9287598029,reena8374@gmail.com,True
3,4,7,8,Abhishek Batra,8238548819,abhishekb@gmail.com,True
4,5,9,10,Bhavesh Prasad,8127498777,bhavesh1748@gmail.com,True